@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap'); /*Link import de la fuente: Montserrat*/

/*Reservas*/ 

/*Header Reservas*/

body {
    background-color:#ece3d2;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    
 }
  
#principal{
    width: 300px;
    height: 300px;
    text-align: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9d6b4;
}

.logo{ /*Establecemos el tamaño que queremos en el logo*/         
    display: flex;
    width: 50%;
}

.indice{ /*El listado de la barra del buscador la establecemos una al lado de otra y con una separacion de 8px*/
    list-style:none;
    padding: 0;
    display: flex;
    gap: 8px;

}

.indice li a{
    text-decoration: none;
    color: #b11212;
}

.indice li a:hover{ /*Creamos un hover sobre el listado para que resalte la seleccion*/
    color: red;
}
  
#principal{
      width: 300px;
      height: 300px;
      text-align: center;
}

.reserva-header{ /*Tambien usamos un banner en reservas*/
    background-image: url(Reservas/imagenes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    height: 350px;
}
  
.reserva-header-section{
    min-width: 100%;
    margin: auto;
    padding: 30px 0;
    background-image: url(Reservas/imagenes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
  
  
.reserva-header-section h2{
    font-size: 44px;
    text-align: center;
}
  
.header-content{
    text-align: center;
  
}
  
.header-content p{
    color: black;
}
  
  /*Form Reservas*/
form{
    padding: 16px;
    width: 16px*20;
    margin: 0 auto;
}
  
#TitForm{
    color: red;
}
  
.segment {
    padding: 16px*2 0;
    text-align: center;
}
  
button, input{
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 16px*20;
    padding: 16px;
    background-color: #F0ede9;
    text-shadow: 1px 1px 0 #FFF;
}
  
label{
    display: block;
    margin-bottom: 16px*1.5;
    width: 100%;
}

  
input{
    margin-right: 16px/2;
    box-shadow: inset 2px 2px 5px #CCC6BE, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  
    &:focus{
      box-shadow: inset 1px 1px 2px #CCC6BE, inset -1px -1px 2px #FFF;
    }
}
  
button{
    color: #6B6359;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #CCC6BE;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
  
    &:hover{
      box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #CCC6BE;
    }
  
    &:active{
      box-shadow: inset 1px 1px 2px #CCC6BE, inset -1px -1px 2px #FFF;
    }
}
  
input{
    display:block;
    width: 100%;
    color: red;
}
  
.content-select select{
    display: block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 16px;
    padding:8px;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #CCC6BE;
    font-weight: bold;
    width: 90%;
    
}

@media screen and (min-width: 200px){

  .content-select option{
    display: flex;
    justify-content: center;
    align-items: center
  }

  .content-select h3{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #horario{
    display: flex;
    flex-direction:column;
    align-items: center;
  }
  .Button-Horario button{
    width: 100%;
  }

  .Button-Mail button{
    width: 100%;
  }

  .mail-informacion{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
  }

  .Button-Dir button{
    width: 100%;
  }

  .ubicacion-informacion{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 20px;
  }
  .ubicacion-informacion iframe{
    height: 80%;
    width: 80%;
  }
  .comentario button{
    width: 100%;
  }
    
}

/*COMENTARIOS*/
.comment-box {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eedcdc;
  padding: 20px;
  border: 1px solid #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  flex-direction: column;
}

.comment-box h2 {
  margin-top: 0;
}

.comment-box input,
.comment-box textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #050505;
  border-radius: 4px;
}

.rating {
  margin-bottom: 10px;
  display: flex;
}

.rating .star {
  font-size: 24px;
  cursor: pointer;
}

.rating .star:hover,
.rating .star.active {
  color: #ffcc00;
}
  /*FOOTER*/
  
.wrap-reserva{
   display: block;
}
  
  .wrap-reservas p{
    font-size: 13px;
}
  
  .reservas-informacion{
    padding-bottom: .5rem;
}
  
.horarios-informacion{
    padding-bottom: .5rem;
    line-height: 40%;
}
  
.mail-informacion{
    padding-bottom: .5rem;
}
  
#ubicación{
    padding: 5px 0;
}
  
.destacable{
    font-weight: 600;
    color: rgb(148, 106, 22);
    font-size: 14px;
}
  
#text-bold{
    font-weight: 600;
}
  
.map-responsive{ /*Prueba del maps*/
  
    overflow:hidden;
  
    padding-bottom:56.25%;
  
    position:relative;
  
    height:0;
  
}
  
.map-responsive iframe{
  
    left:0;
  
    top:0;
  
    height:50%;
  
    width:50%;
  
    position:absolute;
  
}
  
  /*Responsive Reserva*/
  
  /* Estilos para pantallas más pequeñas (dispositivos móviles) */
@media screen and (max-width: 767px) {
    .reserva-header {
      height: 250px; /* Ajusta la altura para pantallas más pequeñas */
      min-width: 100%;
    }
  
    .reserva-header-section {
      min-width: 100%; /* Elimina el ancho mínimo para que se ajuste al tamaño de la pantalla */
      padding: 15px 0; /* Reduce el espacio interno */
    }
  
    .reserva-header-section h2 {
      font-size: 36px; /* Reduce el tamaño de la fuente para pantallas más pequeñas */
    }
  }
  
  /* Estilos para pantallas más grandes (tabletas y escritorios) */
  @media screen and (min-width: 768px) {
    .reserva-header {
      height: 350px; /* Restaura la altura original para pantallas más grandes */
      min-width: 100%;
    }
  
    .reserva-header-section {
      min-width: 1000px; /* Restaura el ancho mínimo para pantallas más grandes */
      padding: 30px 0; /* Restaura el espacio interno original */
    }
  
    .reserva-header-section h2 {
      font-size: 44px; /* Restaura el tamaño original de la fuente */
    }
  }
  
  /*Footer*/
  
     footer{
      background-color: #d56e6e;
      color: #222;
    }
  
    footer ul{
      padding: 0; 
    }
  
    footer li{  
      list-style: none;
    }
  
    .wrap-footer{ /*Aquí ponemos la distribución de columnas*/
      display: grid;
      grid-template-columns: 30% 15% 
      15% 20%;
      column-gap: 5%;
      padding: 1rem;
      margin: 2rem auto; 
      max-width: 1200px;
      margin-top: auto; 
    }
  
    .element-footer h5{
      margin: 1rem 0;
    }
  
    .text-element-footer li{ 
      line-height: 2;  
    }
  
    .text-element-footer li a{ 
      color: #222;
      list-style: none;
      text-decoration: none;
    }
  
    .social-element-footer a { /*Estilos de iconos para reder sociales*/
      display: inline-block; 
      min-height: 40px;
      width: 40px; 
      background-color: rgba(255, 255, 255, 0.2);
      text-align: center; 
      line-height: 40px;
      border-radius: 50%;
      color: rgba(4, 0, 0, 0.838); 
  }
  
  .social-element-footer a:hover{ /*Hoover para redes*/
      background-color: #0e01028a;
  }
  
  .footer-creds{
      display:flex;
      justify-content: space-between;
      padding: 0 1rem;
      color: #576171;
      font-size: .9rem;
      max-width: 1200px;
      margin: 0 auto;
  }
  
  .legal-creds ul{
    display: flex;
    flex-flow: row wrap;
  }
  
  .legal-creds ul li{
    padding-right: 1rem;
  }
  
  
  .legal-creds li a{
    list-style: none;
    text-decoration: none;
    color: #576171;
    font-size: .9rem;
    margin-right: .5rem;
    
  }
  
  /*Modificaciones del span en el apartado "Sobre nosostros*/
  
  .texto{
    font-weight: 300 ;
  }
  
  .Bienvenido{
    font-weight: 600;
  }
  
  
  /*Responsive Footer*/
  
  /*Medida para Smarthphones*/
  @media screen and (max-width: 767px) { /*Se muestran dos columnas si la pantalla es inferior a 768px*/
    .wrap-footer{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width:480px){ /*Se muestra 1 columna*/
    .wrap-footer{
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media screen and (max-width:320px){ /*Se muestran los datos en forma de columna*/
    .footer-creds{
      flex-flow: column;
    }
  }
  
  @media screen and (max-width: 767px){
    h1{
      font-size: 32px;
    }
  }